.Table {
  margin-top: 30px;
  overflow: scroll;
  height: 400px;
  color: #6a5d5d;
  background-color: white;
}

.Table tr {
  display: flex;
  justify-content: space-between;
}

.table td {
  padding: 1rem;
}

.Table tr:nth-of-type(odd) {
  background-color: #f3f2f8;
}
